
.container{
    max-width: 1440px;
    margin: auto;

    .top-container {
        height: 60vh;
        width: 100%;
        display: flex;

        .top-container-a {
            width: 60%;
            position: relative;

            .slider-item {
                position: absolute;
                top: 0;
                left: 0;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                display: none;
                z-index: -1;
            }

            .one {
                background-image: url('/images/desktop-image-hero-1.jpg');
            }

            .two {
                background-image: url('/images/desktop-image-hero-2.jpg');
            }

            .three{
                background-image: url('/images/desktop-image-hero-3.jpg');
            }
            

            .slider-item.active{
                display: block;
            }

            .nav{
                width: 100%;
                display: flex;
                padding: 3.5rem 2rem;
                align-items: center;

                .logo {
                    color: #fff;
                    font-size: 20px;
                    text-transform: lowercase;
                    margin-right: 4.5rem;
                }

                nav {
                    ul {
                        display: flex;

                        li {
                            list-style: none;

                            a {
                                color: #fff;
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
        }

        .top-container-b {
            width: 40%;
            height: 60vh;
            position: relative;

            .dsc{
                padding: 0 3.5rem;
                display: flex;
                align-items: center;
                height: 100%;

                .desc-txt {
                    display: none;
                    
                    h1 {
                        font-size: 26px;
                        font-weight: 700;
                        text-transform: capitalize;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 18px;
                        color: $dark-gray;
                        margin-bottom: 20px;
                    }

                    .shop-btn {
                        font-size: 16px;
                        margin-right: 10px;
                        letter-spacing: 5px;
                    }
                }

                .active {
                    display: block;
                }

            }

            .switch-btns {
                padding: 10px 20px;
                background-color: #000;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .bottom-container {
        height: 40%;
        width: 100%;
        display: flex;

        .left-bottom-container {
            background-image: url('/images/image-about-dark.jpg');
            width: 1750px;
            height: 40vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .mid-bottom-container {
            padding: 0 ;
            height: 40vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .content {
                padding: 0 3rem;

                h1 {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    margin-bottom: 10px;
                }

                p {
                    color: $dark-gray;
                    line-height: 17px;
                    font-size: 11px
                    ;
                }


            }
        }

        .right-bottom-container {
            background-image: url('/images/image-about-light.jpg');
            width: 1700px;
            height: 40vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

    }
}
